.formContainer {
  color: white;
  padding: 1rem;
  width: 60%;
  background-color: rgba(3, 159, 13, 0.8);
  border-radius: 1rem;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttons {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 20%;
  margin: 0.5rem;
}
